html, body{
    width:100%;
    height:100%;
}

.wrap{
    width:100%;
    height:100%;
}

.head-container{
    width: 100%;
    height: 30px;
    z-index: 1000;
    position:relative;
    display:flex;
    justify-content:space-between;
}

.head-container:before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color: #191d24;
    z-index:-1;
}

.head-nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:150px;
}

.head-wrap{
    width:20%;
    height:100%;
}

.head-wrap.first{
    display: flex;
    justify-content: end;
}

.head-wrap.second{
    display: flex;
}
.company{
    display:inline-flex;
    align-items: center;
    width:120px;
}

.company span:nth-child(1){
    font-weight:900;
    font-size:15px;
    margin-right:3px;
}

.company, .head-nav{
    margin:5px;
    padding-right:10px;
}

a{
    text-decoration-line: none;
}

.text{
    color:#9b9ba1;
    font-size:10px;
}

.combobox{
    background-color:#191d24;
    color:#9b9ba1;
    appearance: none;
    border:0;
}

.lang-btn{
    background-color:#191d24;
    font-size:5px;
    border:0;
    margin:0;
    padding:0;
}

.head1-container{
    position:relative;
    width:100%;
    display:flex;
    justify-content:space-around;
    z-index:1000;
}

.head1-container:before{
    content:"";
    background-color:#080309;
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.8;
    z-index: 0;
}

.head1-nav{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    z-index:3;
}

.head1-nav > li{
    display:inline-block;
}

.head1-nav > li > a{
    color:#ffffff;
    font-size:13px;
    font-weight: bold;
}

.head1-nav > li > img{
    width:80px;
    padding: 10px 0px;
}

.nav-icon{
    cursor:pointer;
    height:60px;
    padding:28px 15px;
    position:absolute;
    top:0;
    right:0;
    user-select:none;
}

.nav-icon-bar{
    display:block;
    width:25px;
    height:3px;
    background-color: #ffe325;
    z-index: 20;
    transition:background-color .2s ease-out;
}

.nav-icon-bar:before,
.nav-icon-bar:after{
    content:"";
    background-color:#ffe325;
    display: block;
    width:25px;
    height:3px;
    position:absolute;
    z-index: 20;
    transition:all .2s ease-out;
}

.nav-icon-bar:before{
    top:35px;
}

.nav-icon-bar:after{
    top:20px;
}

.head1-nav-toggle:checked ~ .nav-icon > .nav-icon-bar{
    background: transparent;
}

.head1-nav-toggle:checked ~ .nav-icon > .nav-icon-bar::before{
    transform:rotate(45deg);
    top:30px;
}

.head1-nav-toggle:checked ~ .nav-icon > .nav-icon-bar::after{
    transform:rotate(-45deg);
    top:30px;
}

.head1-nav-toggle, .nav-icon{
    display:none;
}

.content-container,section{
    width:100%;
    height:100%;
}

.sec-container{
    width:100%;
    height:100%;
    background-color:#030104;
    z-index: 0;
    background-image: url("https://strapi-assets.devsisters.com/production/cutscene_ep10_02_c2976b9065.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
}

.video{
    width:100%;
    height:100%;
}

.seclogo > img{
    width:300px;
}

.sec-wrapper{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-wrap{
    width:700px;
    height:400px;
    flex-direction: column;
    text-align: center;
    display: inline-flex;
    align-items:center;
}

.sec-wrap > div{
    padding: 15px;
}

.secplaybtn{
    width:80px;
    height:80px;
    transform: rotate(45deg);
    background-color:#080309;
    border:1.5px solid #e3d765;
    z-index:100;
}

.playbtn{
    width: 63px;
    height: 63px;
    background-color:#080309;
    border:1.5px solid #e3d765;
}

.play{
    width: 0px;
    height: 0px;
    background-color: #080309;
    border-bottom:calc(15px * 1.732) solid #e3d765;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    transform: rotate(45deg);
    margin-top:15px;
    margin-left:20px;
}

.secstore{
    display: inline-flex;
    color: #000000;
    background-color:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:15px;
    margin:10px;
    width:100px;
    height:15px;
    border-radius: 999px;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.secstore:hover{
    transform: scale(1.2);
}

.cafe{
    position: fixed;
    top: 30%;
    left: 80%;
    width: 70px;
    height: 50px;
    z-index: 10001;
    background-color: #04401b;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cafe a{
    color:#cca348;
}

.cafe:before{
    content: "";
    position: absolute;
    width:0;
    height:0;
    border-top: 35px solid #04401b;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    top: 50px;
    left: 0px;
}

.cafe:after{
    content: "";
    position:absolute;
    width:0;
    height:0;
    border: 10px solid #04401b;
    transform: scaleX(3.5);
    left:25px;
    bottom:50px;
}

.scroll-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll{
    width:50px;
    height:50px;
    background-color: #c59771;
    position: absolute;
    bottom: 0;
    border: 0;
    border-radius: 999px;
    animation: scroll 1s ease infinite alternate;
}

@keyframes scroll{
    from {
        transform:translateY(0);
    }
    to{
        transform:translateY(-30px);
    }
}

.label{
    position:absolute;
    bottom:80px;
    color:#c59771;
}

button:hover{
    cursor: pointer;
}

.footer-wrap{
    background-color:#191c24;
}

.footer-wrap div{
    padding:5px;
    text-align: center;
    color:#ffffff;
}

.footer-wrap div:nth-last-child(1){
    font-size:65px;
    font-weight:bolder;
}

.footer-inpo ul{
    display: flex;
    justify-content: center;
}

.footer-nav{
    border: 1px solid #ffffff;
    padding: 10px 25px;
    margin:10px;
}

.footer-nav > a{
    color:#ffffff;
}

.head1-nav > li > a:hover{
    font-size:20px;
}

@media screen and (max-width: 1200px){
    .head1-nav, .head-container{
        display:none;
    }

    .nav-icon{
        display: block;
    }

    .head1-nav-toggle:checked ~ .head1-nav{
        display:block;
        width:100%;
        height:100vh;
        position: absolute;
        background-color: #000000;
        opacity: 0.8;
    }

    .head1-nav-toggle:checked ~ .head1-nav > li{
        display:block;
        padding:10px;
    }

    .head1-nav-toggle:checked ~ .head1-nav > li > a{
        font-size:20px;
    }

    .store{
        z-index: 200;
    }

    .head1-nav-toggle:checked ~ .head1-nav > li > a:active{
        font-size:25px;
        animation: toggleActive 1s ease;
    }

    .secstore:active{
        animation: secstoreActive 1s ease;
    }

    .secstore:hover{
        transform: scale(1);
    }

    @keyframes secstoreActive{
        from{
            transform: scale(1.2);
        }
        to{
            transform: scale(1);
        }
        
    }

    @keyframes toggleActive{
        from{
            font-size:25px;
        }
        to{
            font-size:15px;
        }
    }

    .footer-inpo > ul{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-nav{
        display: block;
        width:80%;
    }
}